@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,700');
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.basic-example {
  display: flex;
}

.text p:target { background: red; }


.searchResult{
  grid-area: images; 
  padding: 0 10px;
  padding-top: 20px;
   
}

/*grid within a grid for the photos we get from flickr api*/
.searchResultSection{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;

}
 
/*Styling for lightbox. Image modal**/
.lightBoxContainer .originalImage {

  max-width: 100%;
  max-height: 100%;
}

.lightBoxContainer .close{
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  top: 0;
  text-align: center;
  line-height: 50px;
  color: #EBEBEB;
  cursor: pointer;
  font-size: 50px;

}

.lightBoxContainer{
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);

  display: none;
  justify-content: center;
  align-items: center;
}

.lightBoxContainer.openimage {
  display: flex;
}
